In [1]:
import pandas as pd
import numpy as np
from scipy import signal
import pywt
from scipy.stats import entropy
import matplotlib.pyplot as plt
import math
import neurokit2 as nk


df = pd.read_csv('/home/cmn/BCI/Data/Data/20200605_2030.csv')
df

,Time:125Hz,Epoch,Channel 1,Channel 2,Channel 3,Channel 4,Channel 5,Channel 6,Channel 7,Channel 8,...,Channel 13,Channel 14,Channel 15,Channel 16,Channel 17,Channel 18,Channel 19,Event Id,Event Date,Event Duration
0,0.000000,0,12767.807617,11262.596680,-47072.460938,-99809.117188,-18629.507812,11496.596680,14866.748047,-18494.101562,...,-33343.460938,26669.429688,-483.803497,54378.261719,-0.040,0.138,-0.952,NaN,NaN,NaN
1,0.008000,0,3146.007812,1642.808472,-47604.410156,-100928.562500,-19923.181641,8986.697266,9700.298828,-19774.095703,...,-31874.703125,29656.472656,2344.854492,58556.875000,-0.040,0.138,-0.952,NaN,NaN,NaN
2,0.016000,0,9114.437500,7613.540527,-47917.847656,-100838.617188,-20834.865234,7522.926270,10219.417969,-20394.892578,...,-34173.355469,25692.123047,-2777.114746,53062.925781,-0.036,0.136,-0.958,NaN,NaN,NaN
3,0.024000,0,9053.618164,7544.920410,-46760.406250,-99826.171875,-18187.792969,12200.721680,14403.016602,-18263.318359,...,-31805.726562,29216.277344,2670.184082,57853.890625,-0.036,0.136,-0.958,NaN,NaN,NaN
4,0.032000,0,3012.076172,1502.171265,-48211.617188,-101453.242188,-21726.923828,5733.959961,6786.101074,-21249.667969,...,-33017.707031,27959.416016,-772.722107,56272.773438,-0.036,0.136,-0.958,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345883,2767.063998,10808,60511.644531,53048.601562,71828.851562,31068.542969,187500.000000,187500.000000,81168.593750,1855.708862,...,51867.824219,187500.000000,43257.417969,187500.000000,0.002,0.030,-0.962,NaN,NaN,NaN
345884,2767.071998,10808,78874.992188,71398.398438,79472.273438,31307.998047,187500.000000,187500.000000,84630.585938,-210.352264,...,45051.949219,187500.000000,49893.539062,187500.000000,0.002,0.030,-0.962,NaN,NaN,NaN
345885,2767.079998,10808,74742.085938,67277.968750,85200.507812,34453.671875,187500.000000,187500.000000,88920.218750,5366.586426,...,51780.875000,187500.000000,41428.285156,187500.000000,0.002,0.030,-0.962,NaN,NaN,NaN
345886,2767.087998,10808,64163.675781,56679.730469,69398.093750,28923.402344,187500.000000,187500.000000,77880.757812,-922.724670,...,47757.070312,187500.000000,50945.925781,187500.000000,0.002,0.030,-0.962,NaN,NaN,NaN
345887,2767.095998,10808,86511.687500,79029.843750,90274.710938,34440.503906,187500.000000,187500.000000,90947.390625,4541.472168,...,47565.917969,187500.000000,46276.558594,187500.000000,0.002,0.030,-0.962,NaN,NaN,NaN

In [2]:
#convert data into arrays
dataset = df.values
dataset
l = len(dataset)
print(l)
print(dataset[:37502,5])

345888
[ -99809.1171875 -100928.5625    -100838.6171875 ...  -67650.125
  -71147.0546875  -66230.875    ]

In [3]:
ch4 = dataset[:,5]
time = dataset[:,1]

In [4]:
awake = dataset[:37502,1]

tired = dataset[308386:345889,1]

In [5]:
awake = dataset[:37502,5] #first 5 mins of data
tired = dataset[308386:345889,5]
entropy_awake = nk.entropy_sample(awake)
print(entropy_awake)
entropy_tired = nk.entropy_sample(tired)
print(entropy_tired)
print(len(awake))
entropy_awake = nk.entropy_approximate(awake)
print(entropy_awake)
entropy_tired = nk.entropy_approximate(tired)
print(entropy_tired)

0.6065036114796355
0.15295010972233972
37502
0.6287226232005256
0.17447536337460923

In [13]:
d1 = dataset[37502:75004,5]
d2 = dataset[75004:112506,5]
d3 = dataset[112506:150008,5]
d4 = dataset[150008:187510,5]
d5 = dataset[187510:225012,5]
d6 = dataset[225012:262514,5]
d7 = dataset[262514:300016,5]
d8 = dataset[300016:337518,5]
sample_d1 = nk.entropy_sample(d1)
print(sample_d1)
sample_d2 = nk.entropy_sample(d2)
print(sample_d2)
sample_d3 = nk.entropy_sample(d3)
print(sample_d3)
sample_d4 = nk.entropy_sample(d4)
print(sample_d4)
sample_d5 = nk.entropy_sample(d5)
print(sample_d5)
sample_d6 = nk.entropy_sample(d6)
print(sample_d6)
sample_d7 = nk.entropy_sample(d7)
print(sample_d7)
sample_d8 = nk.entropy_sample(d8)
print(sample_d8)
print(len(d8))
sample_d1 = nk.entropy_approximate(d1)
print(sample_d1)
sample_d2 = nk.entropy_approximate(d2)
print(sample_d2)
sample_d3 = nk.entropy_approximate(d3)
print(sample_d3)
sample_d4 = nk.entropy_approximate(d4)
print(sample_d4)
sample_d5 = nk.entropy_approximate(d5)
print(sample_d5)
sample_d6 = nk.entropy_approximate(d6)
print(sample_d6)
sample_d7 = nk.entropy_approximate(d7)
print(sample_d7)
sample_d8 = nk.entropy_approximate(d8)
print(sample_d8)

0.72553664814066
0.6711237996557649
0.8113694736986495
0.3170206479174918
0.5755607695943362
0.48219966500927725
0.09309384480335695
0.19091608670698806
37502
0.7399965278933669
0.6782491387253864
0.8031447711532285
0.3322026579346513
0.6054772489529774
0.4841952557167528
0.11584338973614017
0.2180632842296073

In [15]:
entropy_sample = [0.6065036114796355, 0.15295010972233972,0.72553664814066,0.6711237996557649,0.8113694736986495,0.3170206479174918,0.5755607695943362,0.48219966500927725,0.09309384480335695,0.19091608670698806]
entropy_approximate = [0.6287226232005256, 0.17447536337460923, 0.7399965278933669, 0.6782491387253864,0.8031447711532285,0.3322026579346513,0.6054772489529774,0.4841952557167528,0.11584338973614017,0.2180632842296073]

In [16]:
awake = dataset[:37502,5] #first 5 mins of data
tired = dataset[308386:345889,5]

In [17]:
data = np.concatenate((awake,tired,d1,d2,d3,d4,d5,d6,d7,d8))
print(data)

[ -99809.1171875  -100928.5625     -100838.6171875  ...  -40236.58203125
  -37189.32421875  -37409.75390625]

In [18]:
#data = data.reshape((10,37502))
#print(data)

In [19]:
labels = [1,0,0,1,1,1,1,1,0,0]
print(len(labels))

10

In [20]:
import pandas as pd
data = pd.DataFrame({
    'sample':entropy_sample,
    'approximate':entropy_approximate
})
data.head()

     sample  approximate
0  0.606504     0.628723
1  0.152950     0.174475
2  0.725537     0.739997
3  0.671124     0.678249
4  0.811369     0.803145

In [23]:
import numpy as np
#feature = np.reshape(feature, (2, 5))
#labels = np.reshape(labels, (2, 5))
#print(feature)
#print(labels)

In [25]:
#print(data.entropy)

In [26]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

X = data[['sample','approximate']]  # Features
y = labels  # Labels

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [27]:
print(X_train)

     sample  approximate
0  0.606504     0.628723
6  0.575561     0.605477
7  0.482200     0.484195
1  0.152950     0.174475
4  0.811369     0.803145
3  0.671124     0.678249
8  0.093094     0.115843

In [28]:
print(X_test)

     sample  approximate
2  0.725537     0.739997
9  0.190916     0.218063
5  0.317021     0.332203

In [29]:

#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [30]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.3333333333333333

In [31]:
clf.predict([[0.8,0.7]])

array([1])